# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/
EdSurvey/EdSurvey/__pycache__/
EdSurvey/clients/__pycache__/
EdSurvey/clients/migrations/0001_initial.py
EdSurvey/clients/migrations/__pycache__/
EdSurvey/db.sqlite3
EdSurvey/home/__pycache__/
EdSurvey/home/migrations/__pycache__/
EdSurvey/home/static/specification.html
EdSurvey/querylists/__pycache__/
EdSurvey/querylists/migrations/0001_initial.py
EdSurvey/querylists/migrations/__pycache__/
EdSurvey/questions/__pycache__/
EdSurvey/questions/migrations/0001_initial.py
EdSurvey/questions/migrations/__pycache__/
EdSurvey/schedules/__pycache__/
EdSurvey/schedules/migrations/0001_initial.py
EdSurvey/schedules/migrations/__pycache__/
EdSurvey/setup/__pycache__/
EdSurvey/setup/clients/__pycache__/
EdSurvey/setup/home/__pycache__/
EdSurvey/setup/querylists/__pycache__/
EdSurvey/setup/questions/__pycache__/
EdSurvey/setup/schedules/__pycache__/
EdSurvey/setup/surveys/__pycache__/
EdSurvey/surveys/__pycache__/
EdSurvey/surveys/migrations/0001_initial.py
EdSurvey/surveys/migrations/__pycache__/
wsgi_pythonanywhere.py
