{% extends 'home.htm' %}
{% block mainblock %}

<h3>Нет доступных попыток пройти это задание.</h3>
<h4>{{schedule}}</h4>

<table>
    <tr>
        <td align="RIGHT"><strong>Доступен:</strong></td>
        <td>C {{schedule.start}} по {{schedule.finish}}</td>
    </tr>
    <tr>
        <td align="RIGHT"><strong>Задание:</strong></td>
        <td>{{schedule.task.description}}</td>
    </tr>
    <tr>
        <td align="RIGHT"><strong></strong></td>
        <td></td>
    </tr>
    <tr>
        <td align="RIGHT"><strong>Комментарий:</strong></td>
        <td>{{schedule.description}}</td>
    </tr>
    <tr>
        <td align="RIGHT"><strong>Тест-кейс:</strong></td>
        <td>{{schedule.task.testcase.name}}</td>
    </tr>
    <tr>
        <td align="RIGHT"><strong>Разрешено попыток:</strong></td>
        <td>{{schedule.task.attempts}}</td>
    </tr>
</table>

<h4>Выполненые попытки:</h4>

<table border="1">
    <tr>
        <th>Начато</th>
        <th>Завершено</th>
    </tr>
{% for attempt in attempts %}
    <tr>
        <td>{{attempt.started}}</td>
        <td>{{attempt.finished}}</td>
    </tr>
{% endfor %}
</table>

{% endblock%}