Для каждого вопроса введите номер наиболее подходящего ответа:
<table border="0"
{% for content,item,result in data %}
    <tr>
        <td>
            {{content.content}}
        </td>
        <td>
            <input type="number" name="choice{{forloop.counter}}" min="1" max="{{cnt}}"
               {% if result %} value="{{result}}" {% endif %}
            />
        </td>
        <td align="rigth">
            <strong>{{forloop.counter}}.</strong>
        </td>
        <td>
            {{item.linkeditem}}
        </td>
    </tr>
{% endfor %}
</table>