<ul>
    <i>Для каждого вопроса введите номер наиболее подходящего варианта ответа:</i>
    {% if tooltip %}<li>{{tooltip}}</li>{% endif %}
</ul>
<input type="hidden" name="cnt" value="{{cnt}}">
<table border="0"
{% for content,item,result in data %}
    <tr>
        <td>
            {{content.content}} {% comment "for debug" %}({{content.id}}){% endcomment %}
            <input type="hidden" name="content{{forloop.counter}}" value="{{content.id}}">
        </td>
        <td>
            <input type="number" name="choice{{forloop.counter}}" min="1" max="{{cnt}}"
               {% if result %} value="{{result}}" {% endif %}
            />
        </td>
        <td align="rigth">
            <strong>{{forloop.counter}}.</strong>
        </td>
        <td>
            {{item.linkeditem}} {% comment "for debug" %}({{item.id}}){% endcomment %}
            <input type="hidden" name="answer{{forloop.counter}}" value="{{item.id}}">
        </td>
    </tr>
{% endfor %}
</table>