{% if readonly %}
    <ul>
    {% for content in contents %}
        {% if content.id == result %}
            <li type="disc"> <strong>
        {% else %}
            <li type="circle">
        {% endif %}
        {{content.content|linebreaks}}
        {% if content.id == result %} </strong> {% endif %}
        </li>
    {% endfor %}
    </ul>

{% else %}
    <ul>
        {% if tooltip %}<li>{{tooltip}}</li>{% endif %}
    </ul>
    <table border="0">
    {% for content in contents %}
        <tr><td>
            <input type="radio" name="choice" id="choice{{content.id}}" value="{{content.id}}"
                   {% if content.id == result %} checked {% endif %}
            />
            <label for="choice{{content.id}}">{{content.content|linebreaks}}</label>
        </td></tr>
    {% endfor %}
    </table>

{% endif %}
