{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Номер вопроса и сокращённое содержание</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}" >
</head>
<body>

<div class="page-header">
    <h2><a href="/">НАЗВАНИЕ ЗАДАНИЯ НА ТЕСТИРОВАНИЕ</a></h2>
    <p>БЛОК КРАТКОГО ОПИСАНИЯ ЗАДАНИЯ</p>
</div>

    <h4>Вопрос ordernum из query_counts</h4>

{% block queryblock %}
    <h3> Тут должен быть текст вопроса</h3>
{% endblock %}

<hr border-color="#7b6b6b">

{% block resultblock %}
    <p>Тут должена быть форма с ответами</p>
{% endblock %}

<hr border-color="#7b6b6b">

<div class="page-footer">
    <input type="submit" value="<< Предыдущий" name="prev_query" {% if query.ordernum <= 0 %} disabled {% endif %} >
    <input type="submit" value="Очистить" name="clear_query">
    <input type="submit" value="Прервать" name="pause_query">
    <input type="submit" value="Завершить" name="exit_query">
    <input type="submit" value="Следующий >>" name="next_query" {% if query.ordernum >= maxquerynum %} disabled {% endif %} >

</div>

</body>
</html>
