{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <title>{{user.username}}:{{query.attempt.schedule.task.querylist.name}}-{{query.ordernum}}/{{maxquerynum}}</title>

</head>
<body>

<div class="page-header">
    <h2>{{query.attempt.schedule.task.name}}</h2>
    <h4>{{query.attempt.schedule.task.description|linebreaks}}</h4>
    <h3>{{query.attempt.schedule.task.querylist.name}}</h3>
    <h4>{{query.attempt.schedule.task.querylist.description|linebreaks}}</h4>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

    <h4>Вопрос {{query.ordernum}} из {{maxquerynum}}</h4>

{% block queryblock %}
    <h3>{{query.question.name}}</h3>
    <h4>{{query.question.description|linebreaks}}</h4>
{% endblock %}

<hr border-color="#7b6b6b">


<form action="{% url 'surveys:showquery' query.id %}" method="post">
    {% csrf_token %}

{% block resultblock %}
    {{form}}
{% endblock %}

    <hr border-color="#7b6b6b">

    <div class="page-footer">
        <input type="submit" value="<< Предыдущий" name="prev_query" {% if not prevordernum %} disabled {% endif %} >
        <input type="submit" value="Очистить" name="clear_query">
        <input type="submit" value="Прервать" name="pause_query">
        <input type="submit" value="Завершить" name="exit_query">
        <input type="submit" value="Следующий >>" name="next_query" {% if not nextordernum %} disabled {% endif %} >

    </div>

</form>

</body>
</html>
