<table>
    <tr>
        <td align="LEFT" valign="TOP"><strong>Задание:</strong></td>
        <td align="LEFT" valign="TOP"><strong>{{task.name}}</strong></td>
    </tr>
    <tr>
        <td></td>
        <td align="LEFT" valign="TOP">{{task.description|linebreaks}}</td>
    </tr>
    <tr>
        <td align="LEFT" valign="TOP"><strong>Тест-кейс:</strong></td>
        <td align="LEFT" valign="TOP"><strong>{{task.querylist.name}}</strong></td>
    </tr>
    <tr>
        <td></td>
        <td align="LEFT" valign="TOP"> {{task.querylist.description|linebreaks}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Разрешено попыток:</strong></td>
        <td>{{task.attempts}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Возможность просмотра:</strong></td>
        <td>{% if task.viewable %}Да{% else %}Нет{% endif %}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Возможность правки:</strong></td>
        <td>{% if task.editable %}Да{% else %}Нет{% endif %}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Автозакрытие:</strong></td>
        <td>{% if task.autoclose %}Да{% else %}Нет{% endif %}</td>
    </tr>
</table>
