{% extends 'home.htm' %}
{% block mainblock %}
<h3>Вопрос: {{question.description}}</h3>
<h4>Варианты ответов:</h4>
    <table border="1">
        <tr>
            <th>№</th>
            <th>#</th>
            <th>Текст ответа</th>
            <th>Оценка</th>
        </tr>
{% for answer in answers %}
        <tr>
            <td>{{answer.id}}</td>
            <td>{{answer.ordernum}}</td>
            <td>{{answer.content}}</td>
            <td>{{answer.score}}</td>
        </tr>
{% endfor%}
    </table>
{% endblock%}