{% extends 'home.htm' %}
{% block mainblock %}
<h3>Задание: {{question.name}}</h3>
<h4>Подробно: {{question.description}}</h4>
    <table border="1">
        <tr>
            <th align="center">№</th>
            <th align="center">#</th>
            <th align="center">Вопрос</th>
            <th align="center">#</th>
            <th align="center">Вариант</th>
            <th align="center">Оценка</th>
        </tr>
{% for answer in answers %}
        <tr>
            <td align="right">{{answer.id}}</td>
            <td align="center">{{answer.ordernum}}</td>
            <td>{{answer.content}}</td>
            <td align="center">{{answer.ordernumitem}}</td>
            <td>{{answer.linkeditem}}</td>
            <td align="center">{{answer.score}}</td>
        </tr>
{% endfor%}
    </table>
{% endblock%}