{% extends 'home.htm' %}
{% block mainblock %}
<h3>Задание: {{question.description}}</h3>
    <table border="1">
        <tr>
            <th align="center">№</th>
            <th align="center">#</th>
            <th align="center">Вопрос</th>
            <th align="center">#</th>
            <th align="center">Вариант</th>
            <th align="center">Оценка</th>
        </tr>
{% for answer in answers %}
        <tr>
            <td align="right">{{answer.id}}</td>
            <td align="center">{{answer.ordernum1}}</td>
            <td>{{answer.content1}}</td>
            <td align="center">{{answer.ordernum2}}</td>
            <td>{{answer.content2}}</td>
            <td align="center">{{answer.score}}</td>
        </tr>
{% endfor%}
    </table>
{% endblock%}