{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>EdSurvey</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}" >
</head>
<body>
<div class="page-header">
    <h1><a href="/">Опросы и тестирование</a></h1>
    <h6><i>Самый простой способ получить ответ - задать вопрос.</i></h6>
    <div align="right">[Роль v] [Организация v] [Пользователь v] [выйти]</div>
    Пройти тест |
    <a href="questions">Вопросы</a> |
    Тест-кейсы |
    Задания |
    Расписание |
    <a href="/admin/" target="_blank">Админка</a>
</div>
{% block mainblock %}
    <h2><a href="questions">Каталог вопросов</a></h2>
    </table>
{% endblock %}
</div>

<div class="page-footer">
    Пройти тест |
    <a href="questions">Вопросы</a> |
    Тест-кейсы |
    Задания |
    Расписание |
    <a href="/admin/" target="_blank">Админка</a>
    <h6><i>Самый простой способ получить ответ - задать вопрос.</i></h6>
    <h6><a href="https://github.com/GreStas/EdSurvey" target="_blank">EdSurvey на GitHub</a></h6>

</div>
</body>
</html>
