{% extends 'home.htm' %}
{% load static from staticfiles %}
{% block mainblock %}
<h1>Руководство рользователя</h1>
<a href="{% static 'specification.html' %}" target="_blank">Полная спецификация</a>
<h2>Личности и Роли по-умолчанию</h2>

<h3>Пользователь "Сайта"</h3>
<ul>
    <li>Регистрируется самостоятельно</li>
    <li>
        При создании автоматически получает "Корневую Личность", которая:
        <ul>
            <li>принадлежит "Корневой Организации" "Сайта"</li>
            <li>
                наделяется "Ролями":
                <ul>
                    <li>"Тестируемый" (Testee)</li>
                    <li>"Владелец контента" (Owner)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Может быть лишена "Ролей" "Модератором" администрацией "Сайта" (см. "Матрицу прав")</li>
</ul>

<h3>Пользователь "Сообщества"</h3>
<ul>
    <li>Регистрируется по "Приглашению"</li>
    <li>
        При создании автоматически получает "Корневую Личность", которая:
        <ul>
            <li>принадлежит "Корневой Организации" "Сообщества"</li>
            <li>
                наделяется "Ролями":
                <ul>
                    <li>"Тестируемый" (Testee)</li>
                    <li>"Владелец контента" (Owner)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Может быть лишена "Ролей" "Модератором" администрацией "Сообщества" (см. "Матрицу прав")</li>
</ul>

<h3>Пользователь "Корпорации"</h3>
<ul>
    <li>Регистрируется либо пакетом либо "Личностью" "Организации" "Клиента" с "Ролью" "Менеджер" (Account Manager)</li>
    <li>
        При создании автоматически получает "Корневую Личность", которая:
        <ul>
            <li>принадлежит "Корневой Организации" "Корпорации"</li>
            <li>"Ролями" НЕ наделяется</li>
        </ul>
    </li>
    <li>Всеми правами Пользователя управляет персонал "Корпорации"</li>
</ul>



<h2>Клиенты</h2>
<h3>Сайт</h3>
Это

<h3>Сообщество</h3>
Это

<h3>Корпорация</h3>
Это

<h2>Организации (орг-юниты, подразделения)</h2>
Это
<h3>Корневая организация</h3>
Это

{% endblock%}