{% extends 'home.htm' %}
{% block mainblock %}

<h3>
    {{attempt.schedule.task.description}}
    -
    {{attempt.schedule.task.querylist.name}} ({{attempt.schedule.description}})
</h3>

<h4>Статистика ответов:</h4>
<ul>
    <li>Дано ответов: {{answered_cnt}}</li>
    <li>Ответы отсутсвуют или не приняты: {{waited_cnt}}</li>
</ul>

{% if attempt.schedule.task.editable %}
    [ Вернуться к ответам EDIT_BUTTON redirect(runattempt)]
{% endif %}

{% if attempt.schedule.task.viewable %}
    [ Просмотреть ответы VIEW_BUTTON redirect(runattempt)]
{% endif %}

{% if waited_cnt == 0 %}
    [ Просмотреть CLOSE_BUTTON redirect(runattempt)]
{% endif %}

{% endblock %}
