<table>
    <tr>
        <td align="LEFT"><strong>Задание:</strong></td>
        <td>{{task.description}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Тест-кейс:</strong></td>
        <td>{{task.querylist.name}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Разрешено попыток:</strong></td>
        <td>{{task.attempts}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Возможность просмотра:</strong></td>
        <td>{{task.viewable}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Возможность правки:</strong></td>
        <td>{{task.viewable}}</td>
    </tr>
    <tr>
        <td align="LEFT"><strong>Автозакрытие:</strong></td>
        <td>{{task.autoclose}}</td>
    </tr>
</table>
